{% include "work4you_app/includes/base_header_generic.html" %}
{% include "work4you_app/includes/base_navigation_generic.html" %}

<!doctype html>
<html lang="en">
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li
                    {% if message.tags %}
                        class="alert {{ message.tags }} d-flex justify-content-center"
                    {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="user_card" style="height: 300px">
    <h1>{{ title }}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group-text">
            <i class="fas fa-user"></i><input type="text" placeholder="Логін" class="input-text" name="username">
        </div>
        <div class="input-group-text">
            <i class="fas fa-key"></i><input type="password" placeholder="Пароль" class="input-text" name="password">
        </div>

        <div class="justify-content-center mt-3 login_container">
            <div style="text-align: center">Увійти як</div>
            <input class="btn login_btn" type="submit" value="Кандидат" name="candidate">
            <input class="btn login_btn" type="submit" value="Роботодавець" name="employer" style="margin-top: 20px">
        </div>
    </form>

    {{ form.errors }}

</div>
</body>
</html>