{% include "work4you_app/includes/base_header_generic.html" %}
{% include "work4you_app/includes/base_navigation_generic.html" %}

<!doctype html>
<html lang="en">
<body>

<div class="user_card">
    <h1>{{ title }}</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="input-group-text"><i class="fas fa-user"></i>{{ form.username }}</div>
        <div class="input-group-text"><i class="fas fa-envelope-square"></i>{{ form.email }}</div>
        <div class="input-group-text"><i class="fa-solid fa-passport"></i>{{ form.first_name }}</div>
        <div class="input-group-text"><i class="fa-solid fa-passport"></i>{{ form.last_name }}</div>
        <div class="input-group-text"><i class="fas fa-key"></i>{{ form.password1 }}</div>
        <div class="input-group-text"><i class="fas fa-key"></i>{{ form.password2 }}</div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <input class="btn login_btn" type="submit" value="Реєстрація">
        </div>
    </form>
    {{ form.errors }}
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Логін';
    form_fields[2].placeholder = 'Електронна пошта';
    form_fields[3].placeholder = 'Ім\'я';
    form_fields[4].placeholder = 'Прізвище';
    form_fields[5].placeholder = 'Пароль';
    form_fields[6].placeholder = 'Підтвердіть пароль';

    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>
</body>
</html>