* {
    font-size: 17px;
}

h4 {
    font-weight: bold;
}

label {
    font-weight: normal;
}

input[type='number'] {
    width: 120px;
    margin-left: 10px;
}

nav {
    display: flex;
    background-color: #e3f2fd;
    padding-top: 20px;
}

nav ul {
    margin: 0 auto;
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 70px;
    padding-bottom: 30px;
}

nav li a {
    font-size: 20px;
}

.vacancy {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    padding: 2%;
    overflow: auto;
    text-overflow: ellipsis;
    margin-bottom: 30px;
}

.company {
    width: 60%;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    padding: 2%;
    overflow: auto;
    text-overflow: ellipsis;
}

.vacancies {
    margin-top: 30px;
}

.search_bar {
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.filters {
    padding: 3%;
    background: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.36);
}


#selected_city, #query {
    width: 300px;
    height: 30px;
}

hr {
    border-color: black;
}

.company_img {
    margin: 30px;
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

#company_urls {
    text-align: center;
}

#company_urls a {
    margin-left: 30px;
}

.buttons_form {
    margin-right: 20px;
    margin-top: 20px;
}

