* {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 17px;
}

h4 {
    font-weight: bold;
}

label {
    font-weight: normal;
}

input[type='number'] {
    width: 120px;
    margin-left: 10px;
}

nav {
    display: flex;
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#nav {
    display: flex;
    margin-right: 100px;
    list-style-type: none;
    background: lightblue;
    width: 100%;
}

#nav li {
    margin-right: 50px;
    float: left;
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc;
}

#nav li a:hover {
    color: #c00;
    background-color: #fff;
}

.vacancy {
    width: 60%;
    border-radius: 20px;
    border: 1px solid gray;
    background: lightblue;
    margin-top:30px;
    padding: 30px 30px 0 30px;
}

.no_vacancies {
    text-align: center;
    left:50%;
    top:50%;
    position: absolute;
    height: 100px;
}

.filters {
    margin-top: 30px;
}


.company_img {
    margin:30px;
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

#company_urls {
    text-align: center;
}

#company_urls a {
    margin-left: 30px;
}

.buttons_form {
    margin-right: 20px;
    margin-top: 20px
}

