<center><h4>Пошук за фільтрами</h4></center>
<h4 style="margin-top: 20px">Категорія</h4>
<div>
    {% for category in categories %}
        <div>
            <label for="category_{{ category.title }}">
                {% if category in selected_categories %}
                    <input type="checkbox" checked value="{{ category.title }}" id="category_{{ category.title }}"
                           name="categories">
                {% else %}
                    <input type="checkbox" value="{{ category.title }}" id="category_{{ category.title }}"
                           name="categories">
                {% endif %}
                {{ category.title }}
            </label>
        </div>
    {% endfor %}
</div>
<div>
    <h4>Вид зайнятості</h4>
    {% for emp_type in employment_types %}
        <div>
            <label for="type_{{ emp_type }}">
                {% if emp_type in selected_employment_types %}
                    <input type="checkbox" checked value="{{ emp_type }}" id="type_{{ emp_type }}"
                           name="employment_types">
                {% else %}
                    <input type="checkbox" value="{{ emp_type }}" id="type_{{ emp_type }}" name="employment_types">
                {% endif %}
                {{ emp_type }}
            </label>
        </div>
    {% endfor %}
    <div><h3><strong>Зарплата</strong></h3></div>
    <label for="salary">Від</label>
    <input type="number" maxlength="6" id="salary" name="salary" value="0">
    <select id="user_currency" name="user_currency">
        {% if selected_currency %}<option selected>{{ selected_currency }}</option> {% endif %}
        {% for cur in currencies %}
            <option>{{ cur }}</option>
        {% endfor %}
    </select>
</div>
<div>
    <div><h3><strong>Підходить, якщо ви</strong></h3></div>
    {% for candidate_type in candidate_types %}
        <div>
            {% if candidate_type in selected_candidate_types %}
                <input type="checkbox" checked value="{{ candidate_type }}" id="candidate_{{ candidate_type }}"
                       name="candidate_types">
            {% else %}
                <input type="checkbox"
                       value="{{ candidate_type }}" id="candidate_{{ candidate_type }}" name="candidate_types">
            {% endif %}
            <label for="candidate_{{ candidate_type }}">{{ candidate_type }}</label>
        </div>
    {% endfor %}
</div>


