<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>

<div class="container navigation">
    <ul id="nav">
        <li><a href="/vacancies">Знайти вакансії</a></li>
        <li><a href="/vacancies">Розмістити вакансії</a></li>
        <li><a href="/vacancies">Увійти</a></li>
    </ul>
</div>
<div class="container vacancy">
    <div style="position: relative; margin:30px">
        <div style="float: right">
            {% if vacancy.company.image %}
                <img class="company_img" src="{{ vacancy.company.image.url }}">
            {% endif %}
        </div>
        <div>Вакансія від {{ vacancy.creation_date }}</div>
        <h3><strong>{{ vacancy }}</strong></h3>

        <div>
            {% if vacancy.currency == 'HRYVNIA' %}
                <i class="fa-solid fa-hryvnia-sign"></i>
            {% elif vacancy.currency == 'DOLLAR' %}
                <i class="fa-solid fa-usd"></i>
            {% elif vacancy.currency == 'EURO' %}
                <i class="fa-solid fa-eur" aria-hidden="true"></i>
            {% endif %}
            {{ vacancy.salary }}
        </div>
        <div>
            <i class="fa-solid fa-building"></i>
            <a href="company/{{ vacancy.company.id }}">{{ vacancy.company }}</a>
            <div>
                <i class="fa-solid fa-briefcase"></i>
                {% for category in vacancy.categories.all %}
                    {{ category.title }};
                {% endfor %} {{ vacancy.company.workers_count }} працівників
            </div>
        </div>
        <div>
            <i class="fa-solid fa-location-dot"></i>
            {{ vacancy.company.city }}
        </div>
        <div>
            <h3><strong>Опис вакансії</strong></h3>
            {{ vacancy.description }}
            <h3><strong>Вимоги до кандидата:</strong></h3>
            <ul>
                <li>Освіта: {{ vacancy.education_level }}</li>
                <li>Досвід роботи: {{ vacancy.experience_level }}</li>
            </ul>
            {{ vacancy.employment_type }}{% if vacancy.is_for_student %}, готові взяти студента{% endif %}{% if vacancy.is_for_migrant %}, готові взяти переселенця{% endif %}.
        </div>
        <div style="display: flex">
            <form action="send/resume/{{ vacancy.company.id }}" style="margin-top: 20px">
                <button type="submit" class="btn btn-primary">
                    Відгукнутися <i class="fa-solid fa-hand"></i>
                </button>
            </form>
            <form action="save/vacancy/{{ vacancy.company.id }}" style="margin-left: 20px;margin-top: 20px">
                <button type="submit" class="btn btn-primary">
                    Зберегти <i class="fa-solid fa-heart"></i>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
