<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>

<div class="container navigation">
    <ul id="nav">
        <li><a href="/work4you_app/static">Знайти вакансії</a></li>
        <li><a href="/trains">Розмістити вакансії</a></li>
        <li><a href="/tickets">Увійти</a></li>
    </ul>
</div>
<div class="container vacancy">
    <div style="position: relative; margin:30px">
        <div>Вакансія від {{ vacancy.creation_date }}</div>
        <h2><strong>{{ vacancy }}</strong></h2>

        <div>
            <i class="fa-solid fa-hryvnia-sign"></i>
            {{ vacancy.salary }}
        </div>
        <div>
            <i class="fa-solid fa-city"></i>
            <a href="company/{{ vacancy.company.id }}">{{ vacancy.company }}</a>
            <div>
                {% for category in vacancy.categories.all %}
                    {{ category.title }};
                {% endfor %} {{ vacancy.company.workers_count }} працівників
            </div>
        </div>
        <div>
            <i class="fa-solid fa-location-dot"></i>
            {{ vacancy.company.city }}
        </div>
        <div>
            <h3><strong>Опис вакансії</strong></h3>
            {{ vacancy.description }}
        </div>
        <div style="display: flex">
            <form action="send/resume/{{ vacancy.company.id }}" style="margin-top: 20px">
                <button type="submit" class="btn btn-primary">
                    Відгукнутися <i class="fa-solid fa-hand"></i>
                </button>
            </form>
            <form action="save/vacancy/{{ vacancy.company.id }}" style="margin-left: 20px;margin-top: 20px">
                <button type="submit" class="btn btn-primary">
                    Зберегти <i class="fa-solid fa-heart"></i>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
