{% include "work4you_app/includes/base_header_generic.html" %}
{% include "work4you_app/includes/base_navigation_generic.html" %}
{% load sweetify %}
{% sweetify %}
<!DOCTYPE html>
<html lang="en">
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="../../../static/js/chart_painter.js"></script>

<ul class="messages">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
</ul>
<div class="container-fluid">
    <form method="get" action="/vacancies/find">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5 search_bar">
                <h3 style="text-align: center"><strong>{{ title }}</strong></h3>
                <input type="text" id="query" name="query" placeholder="Запит" value="{{ selected_query }}">
                <select id="selected_city" name="city">
                    {% for city in cities %}
                        {% if selected_city.title == city.title %}
                            <option selected>{{ selected_city }}</option>
                        {% else %}
                            <option>{{ city }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Знайти</button>
                <label for="selected_city"> </label>
            </div>
        </div>
        <div class="row" style="text-align: center; ">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                {% for top_vacancy in top3 %}
                    <a href="/vacancy/{{ top_vacancy.id }}">{{ top_vacancy.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5 vacancies">
                {% if vacancies.count > 0 %}
                    {% for vacancy in vacancies %}
                        <div class="vacancy">
                            {% if vacancy.company.image %}
                                <img class="company_img" src="{{ vacancy.company.image.url }}" alt="company">
                            {% endif %}
                            <div>Вакансія від {{ vacancy.creation_date }}</div>
                            <h3><strong><a href="/vacancy/{{ vacancy.id }}">{{ vacancy }}</a></strong></h3>
                            <div><i class="fa-solid fa-hryvnia-sign"></i> {{ vacancy.salary }}</div>
                            <div>
                                <i class="fa-solid fa-city"></i>
                                <a href="/company/{{ vacancy.company.id }}">{{ vacancy.company }}</a>
                                {% for category in vacancy.categories.all %}
                                    {{ category.title }}{% if vacancy.categories.all.count != forloop.counter %};
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div><i class="fa-solid fa-location-dot"></i> {{ vacancy.company.city }}</div>
                            <div>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                {% for employment_type in vacancy.employment_types.all %} {{ employment_type }}
                                    ,{% endfor %}
                                готові взяти
                                {% for candidate_type in vacancy.candidate_types.all %}{% if forloop.counter != 1 %}
                                    ,{% endif %}{% if candidate_type.title == 'Переселенець' %} переселенця{% endif %}
                                    {% if candidate_type.title == 'Студент' %} студента{% endif %}
                                    {% if candidate_type.title == 'Пенсіонер' %} пенсіонера{% endif %}
                                    {% if candidate_type.title == 'Без досвіду' %} людину без досвіду
                                    {% endif %}{% endfor %}.
                            </div>
                            {% if user.is_candidate %}
                                {% if vacancy not in user.candidate.saved_vacancies.all %}
                                    <a href="/candidate/{{ user.candidate.id }}/vacancy/{{ vacancy.id }}/save">
                                        <button type="button" class="btn btn-primary buttons_form">
                                            Зберегти <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </a>
                                {% else %}
                                    <a href="/candidate/{{ user.candidate.id }}/vacancy/{{ vacancy.id }}/delete">
                                        <button type="button" class="btn btn-primary buttons_form">
                                            Видалити <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-3"></div>
                    <div class="col-md-8  container alert-danger"
                         style="font-size: 18px; margin-top:20px; text-align: center">
                        Не знайдено жодної вакансії.
                    </div>
                {% endif %}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="filters">
                    <h3 style="text-align: center; margin: 3%">Пошук за фільтрами</h3>
                    <h4 style="margin-top: 3%; margin-left: 3%; margin-right: 3%">Категорія</h4>
                    <div style="margin: 3%">
                        {% for category in categories %}
                            <div>
                                <label for="category_{{ category.title }}">
                                    {% if category in selected_categories %}
                                        <input type="checkbox" checked value="{{ category.title }}"
                                               id="category_{{ category.title }}" name="categories">
                                    {% else %}
                                        <input type="checkbox" value="{{ category.title }}"
                                               id="category_{{ category.title }}"
                                               name="categories">
                                    {% endif %}
                                    {{ category.title }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div style="margin: 3%">
                        <h4>Вид зайнятості</h4>
                        {% for emp_type in employment_types %}
                            <div>
                                <label for="type_{{ emp_type }}">
                                    {% if emp_type in selected_employment_types %}
                                        <input type="checkbox" checked value="{{ emp_type }}" id="type_{{ emp_type }}"
                                               name="employment_types">
                                    {% else %}
                                        <input type="checkbox" value="{{ emp_type }}" id="type_{{ emp_type }}"
                                               name="employment_types">
                                    {% endif %}
                                    {{ emp_type }}
                                </label>
                            </div>
                        {% endfor %}
                        <div><h4>Зарплата</h4></div>
                        <label for="salary">Від</label>
                        <input type="number" maxlength="6" id="salary" name="salary" value="{{ salary }}" step="1"
                               min="0" max="500000"> грн.

                    </div>
                    <div style="margin: 3%">
                        <div><h4>Підходить, якщо ви</h4></div>
                        {% for candidate_type in candidate_types %}
                            <div>
                                {% if candidate_type in selected_candidate_types %}
                                    <input type="checkbox" checked value="{{ candidate_type }}"
                                           id="candidate_{{ candidate_type }}"
                                           name="candidate_types">
                                {% else %}
                                    <input type="checkbox"
                                           value="{{ candidate_type }}" id="candidate_{{ candidate_type }}"
                                           name="candidate_types">
                                {% endif %}
                                <label for="candidate_{{ candidate_type }}">{{ candidate_type }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if '/vacancies' == request.path %}
                    <div style="margin-top:100px;">
                    <figure class="highcharts-figure3 filters" style="height: 450px">
                    <div id="salary_data_chart"></div>
                    <div style="text-align: center">
                        <a href="/charts/vacancies" style="text-align: center">Детальніше</a>
                    </div>{% endif %}
                </figure>
                <script>
                    salary_data = {{ salary_data|safe }}
                        show_column_chart(salary_data, 'salary_data_chart', 'По заробітній платі(медіана)', 'Заробітня плата ', '{point.y}', ' грн.')
                </script>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
