{% include "work4you_app/includes/base_header_generic.html" %}
{% include "work4you_app/includes/base_navigation_generic.html" %}
{% load sweetify %}
{% sweetify %}
<!DOCTYPE html>
<html lang="en">

<body>
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8 vacancy">
        {% if candidate.id == user.candidate.id and user.is_candidate %}
            <h2 style="text-align: center">Мій профіль</h2>
        {% endif %}
        {% if candidate.image %}
            <img class="company_img-lg" src="{{ candidate.image.url }}" alt="candidate">
        {% endif %}

        <div>На сайті з {{ candidate.creation_date }}</div>
        <h3><strong>{{ candidate_first_name }} {{ candidate_last_name }}</strong></h3>
        <i class="fa-solid fa-city"></i>
        {{ candidate.city }}, {{ candidate.city.country }}
        {% if candidate.desired_vacancy %}
            <h4 style="margin-top: 10px"><strong>Бажана вакансія:</strong> {{ candidate.desired_vacancy }}
            </h4>
        {% endif %}
        <div>
            <h4><strong>Опис кандидата</strong></h4>
            <ul>
                <li>Освіта: {{ candidate.education_level }}</li>
                <li>Досвід роботи: {{ candidate.experience_level }}</li>
            </ul>



            <h4><strong>Контакти</strong></h4>
            <div>
                <i class="fa fa-envelope"></i>
                <a href="mailto:{{ candidate_email }}">{{ candidate_email}}</a>
            </div>
            <div>{% if candidate.phone %}
                <i class="fa fa-phone"></i>
                {{ candidate.phone }}
            {% endif %}
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>